.packagegrid .gridbox{
  width: 33.33%;
  overflow: visible!important;
  background-color: #fff;
  transition: .5s;
}

.packagegrid .gridbox img{
    max-width: 100%;
    height: auto;
}

.packagegrid .box2{
    padding: 1.5rem;
}

.packagegrid .box2 .packicon{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    color: #000;
}

.packicon small{
    font-size: 13px;
}

.packicon i{
    color: #7ab730!important;
    margin-right: 0.5rem;
}

.packagegrid .box2 h5{
    cursor: pointer;
    font-size: 24px;
    font-weight: 600;
    color: #000;
    transition: .5s;
    text-align: left;
}

.packagegrid .gridbox:hover h5{
    color: #7ab730;
}

.packagegrid .box2 .bottombox{
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    border-top: 1px solid #cccccc;
    display: flex;
    justify-content: space-between;
    color: #000;
}

.bottombox small{
    font-size: 18px;
}

.bottombox i{
    color: #7ab730;
}

.package-div .processgrid{
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

.processgrid .gridbox{
  overflow: visible!important;
}

.processgrid .gridbox-div{
  text-align: center;
  margin-bottom: 0.5rem;
  padding: 3rem 1.5rem;
  background-color: #fff;
  transition: .5s;
  border: 1px solid #7ab730;
}

.processgrid .gridbox-div:hover{
  box-shadow: 0 0 30px 0 #cccccc;
  background-color: #7ab730;
  color: #fff;
}

.processgrid i{
  height: 75px;
  width: 75px;
  border-radius: 50%;
  transform: translateY(-50%);
  margin: 0 auto 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #7ab730;
  color: #7ab730;
  transition: .5s;
}

.processgrid .gridbox-div:hover i{
    color: #fff;
    background-color: #7ab730;
    border: 1px solid #fff;
}
